#* MOTHER OF IGNORE '*'\:>
*
#! ignore all files and unignore some files with '!'

#! .VSCODE FOLDER
!.vscode/
# alow these 3 files only
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/tasks.json

#! INCLUDE FOLDER
!include/
# alow all .h and .hpp files
!include/*.h
!include/*.hpp

#! SRC FOLDER
!src/
# alow all .c and .cpp files
!src/*.c
!src/*.cpp

#! BIN FOLDER
!bin/
# IGNORE all, blank folder only
!bin/.gitkeep

#! OTHER IN ROOT FOLDERS
!.gitignore
!bettercomments_extension.png
!README.md
